---
const { items } = Astro.props
---

<nav aria-label="Breadcrumb">
  <ol class="flex items-center">
    {items.map((item, index) => (
      <li class="flex items-center font-bold text-white">
        <a href={item.href} class="hover:text-green-700">{item.label}</a>
        {index < items.length - 1 && 
            <span>
                <svg class="w-3.5 h-3.5 rtl:rotate-180 text-body" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/></svg>
            </span>}
      </li>
    ))}
  </ol>
</nav>

