---
import '@fontsource/mr-dafoe';
import { Image, getImage } from 'astro:assets';
import bgcover from '../../src/assets/cover.webp'
const cover = await getImage({ src: bgcover, format: "webp"})
---
<header role="banner" class="bg-white">
  <div class="relative w-full h-screen bg-cover bg-center bg-fixed before:content-[''] before:absolute before:w-full before:h-full before:bg-black before:z-10 before:opacity-70" style={`background-image: url(${cover.src});`}>
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center z-20 w-full px-6"> 
      <h2 class="text-3xl font-dafoe text-green-400 px-6 rounded-full w-max mx-auto">Welcome to</h2> 
      <h1 class="text-2xl text-center mx-auto w-full sm:text-3xl md:text-6xl mb-4 font-bold text-white">MAS MIFTAHUL HUDA <br> TAMBAK JAYA</h1> 
      <p class="capitalize text-white">mewujudkan pendidikan yang bermanfaat, baik di dunia maupun akhirat</p> </div>
  </div>
</header>