---
import { Image } from "astro:assets";
import Guru1 from '../assets/kepsek.webp'
import Guru2 from '../assets/guru-2.webp'
import Guru3 from '../assets/guru-3.webp'
import Guru4 from '../assets/guru-4.webp'
import Guru5 from '../assets/guru-5.webp'
import Guru6 from '../assets/guru-6.webp'
import Guru7 from '../assets/guru-7.webp'
import Guru8 from '../assets/guru-8.webp'
import Guru9 from '../assets/guru-9.webp'
import Guru10 from '../assets/guru-10.webp'
import Guru11 from '../assets/guru-11.webp'
import Guru12 from '../assets/guru-12.webp'
import Guru13 from '../assets/guru-13.webp'
import Guru14 from '../assets/guru-14.webp'
import Guru15 from '../assets/guru-15.webp'
import Guru16 from '../assets/placeholder.webp'

const staff = [

{ name: "Ahmad Rifa'i, M.Pd.", role: "Kepala Madrasah", img: Guru1 },
{ name: "Drs. Hamim Hasyim.", role: "Pendidikan Agama Islam", img: Guru2 },
{ name: "Endang Kurniasih, S.E.", role: "Pendidikan Ekonomi", img: Guru3 },
{ name: "Abidin, S.Pd.", role: "Pendidikan Seni Budaya", img: Guru4 },
{ name: "Bashori, S,Pd,I, M.Pd.", role: "Pendidikan Agama Islam", img: Guru5 },
{ name: "Didi Hartono, S.Pd.", role: "Pendidikan B. Arab", img: Guru6 },
{ name: "Saipudin Aziz, S.Pd.", role: "Pendidikan Olahraga", img: Guru7 },
{ name: "Siti Aisah, S.Pd.I.", role: "Pendidikan Agama Islam", img: Guru8 },
{ name: "Ari Romadlon, S.Pd.", role: "Pendidikan Agama Islam", img: Guru9 },
{ name: "Sulis Setiani, S.Pd.", role: "Pendidikan Fisika", img: Guru10 },
{ name: "Nizammudin, S.Pd.", role: "Guru Kelas", img: Guru11 },
{ name: "Indah Yunita Sari, S.Pd.", role: "Pendidikan Matematika", img: Guru12 },
{ name: "Nia Purnamasari, S.Pd.", role: "Pendidikan B. Indonesia", img: Guru13 },
{ name: "Nafsyiatun, S.Pd.", role: "Pendidikan B. Arab", img: Guru14 },
{ name: "M. Aziz Sulaiman, S.Pd.", role: "Pendidikan Komputer", img: Guru15 },
{ name: "Wahidin, S.Pd.", role: "Pendidikan", img: Guru16 },
{ name: "Julaini, S.Pd.", role: "Pendidikan B. Inggris", img: Guru16 },
{ name: "Ahmad Nabhan, S.Pd.", role: "Pendidikan Agama Islam", img: Guru16 },
{ name: "Syawaludin, S.Pd.", role: "Pendidikan Matematika", img: Guru16 },
{ name: "Jumhadi", role: "Tata Usaha", img: Guru16 },
{ name: "Riono", role: "Tata Usaha", img: Guru16 }

];

---
<section class="py-20 bg-green-800">
  <div class="container mx-auto px-4">
  <h2 class="text-2xl sm:text-3xl font-bold text-center text-white text-primary">Guru dan Tenaga Kependidikan</h2>
  <div class="grid grid-cols-2 sm:grid-cols-4 lg:grid-cols-6 gap-2 sm:gap-4 mt-8">
    {staff.slice(0, 12).map(person => (
      <div class="text-white shadow text-center border border-amber-50 rounded-sm"> 
        <Image src={person.img} alt={person.name} class="mx-auto rounded-t-md aspect-square object-top object-cover" /> 
        <div class="py-4"> 
          <p class="font-bold text-xs sm:text-base">{person.name}</p> 
        <hr class="h-px w-[80%] mx-auto bg-neutral-200 border-0" />
          <p class="text-xs sm:text-sm">{person.role}</p> 
          </div> 
      </div> 
    ))}
  </div>
  <div class="flex flex-row gap-4 w-max mx-auto mt-6 *:border *:border-white *:text-white *:text-center *:font-bold *:rounded-sm *:w-max *:px-4 *:py-2">
    <a href="/staff" aria-label="Mas Mifhda" class="">Daftar Lengkap Guru</a>
  </div>

  </div>
</section>